body {
    background-color: #03A9F4;
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
}
#reretractbutton {
    position: fixed;
    z-index: 3;
    display: none;
    background-color: #000000de;
    color: #e0d3d3;
}
.ui.active.dimmer {
    position: fixed;
}
.ui.secondary.vertical.pointing.menu {
    background-color: #000000de;
    z-index: 3;
    position: fixed;
    width: 50px;
    text-align: center;
}
.ui.secondary.vertical.pointing.menu .item {
    color: #e0d3d3;
    padding-top: 15px;
}
.ui.secondary.vertical.pointing.menu .item:hover {
    background-color: #03A9F4;
}
.ui.container {
    background-color: #03A9F4;
}
#movies {
    background-color: #111;
    color: #FFFFFF;
    z-index: 0;
    margin: auto;
    text-align: center;
    margin-top: -10px;
}
.header {
    position: fixed;
    top: 0;
    width: 100%
}
.main {
    margin-top: 60;
    width: 100%
}
.footer {
    background-color: #111;
    color: #FFFFFF;
    padding: 10px;
    width: 100%;
    margin-left: 0px;
    text-align: center;
    bottom: 0px;
}
.titleText {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.underTitle {
    font-size: 25px;
}
#spacer {
    background-color: #FFFFFF;
    width: 100%;
    height: 7px;
    z-index: 2;
    margin-left: 0;
}
.modalDialog {
    overflow: scroll;
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 4;
    opacity: 0;
    color: #FFFFFF;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}
.modalDialog>div {
    width: 75%;
    color: #FFFFFF;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #111;
}
.close {
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}
.close:hover {
    background: #111;
    color: #CB0101;
}
