body {
    /*ITS EMPTY FOR ONCE*/
}
h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}
.ui.secondary.vertical.pointing.menu {
    position: fixed;
    z-index: 3;
    width: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}
.ui.active.dimmer {
    position: fixed;
}
#reretractbutton {
    position: fixed;
    z-index: 3;
    display: none;
}
#gameMain {
    text-align: center;
}
#q1{
    display: block;
}
#q2, #q3, #q4, #q5{
    display: none;
}
#retry, #completed{
    display: none;
}
