#element::-webkit-scrollbar { 
    display: none; 
}
/*BODY*/

body {
    text-align: center;
}

#mobile-container {
    display: none;
}

/*FOOTER*/

.footer{
    background-color: #111;
    color: #FFFFFF;
}
.ui.horizontal.segments{
    background-color: #111;
}
/*DESKTOP MENU*/
.topbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #111;
    position: fixed;
    top: 0;
    width: 100%;
    height: 53px;
    z-index: 2;
}
li {
    float: left;
    height: 100%;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
li:hover {
    background-color: #333;
    color: #f24438;
}
.spacer {
    height: 53px;
}

/*DROPDOWN*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

/*MOBILE MENU*/

#mobile-menu {
    position: fixed;
    z-index: 3;
    width: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}
#reretractbutton {
    position: fixed;
    z-index: 2;
    display: none;
}

/*LOADER*/

.ui.active.dimmer {
    position: fixed;
}

/*GALLERY*/

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

.modal {

    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.close.cursor {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


/*CARDS*/
.ui.card{
    color: #111;
}
